.checkout {
	display: flex;
	align-self: center;
	padding: 20px;
	margin-top: auto;
	background-color: var(--grey);
	height: max-content;
}

.checkoutLeft {
	margin-right: 10px;
	flex: 1;
}

.checkoutLeft > div > h3 {
	word-break: break-all;
}

.checkoutTitle {
	margin-right: 10px;
	padding: 10px;
	border-bottom: 1px solid var(--icon-bg);
}

@media screen and (max-width: 768px) {
	.checkout {
		flex-direction: column;
		text-align: center;
	}
}
